includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - config
        - tests

    checkMissingIterableValueType: false
    checkUnionTypes: false
